<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 5px"
            role="progressbar"
            [style.width]="getProgress1"
            ></div>
            <!-- [style.width]="getPorcentage" -->
        </div>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 5px"
            role="progressbar"
            [style.width]="getProgress2"
            ></div>
            <!-- [style.width]="getPorcentage" -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valorSalida)="progress1 = $event" [valor]="progress1"
        [btnClass]="'btn btn-primary'"></app-incrementador>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valorSalida)="progress2 = $event" [valor]="progress2"
        [btnClass]="'btn btn-info'"></app-incrementador>
      </div>
    </div>
  </div>
</div>
